body{
    background-image: linear-gradient(
        180deg ,#475dc5 0,#000000)!important ; 
}
.btn-primary {
    background-image: linear-gradient(
        180deg ,#475dc5 0,#000000)!important ; 

}

   .fa-icon{
       color:rgb(18, 5, 207) !important;
   }
   a:hover{
       color:#2600ff !important;text-decoration:none !important;
    }


    .social-buttons a:hover .social-round-icon{
        background-color:#b8bbe2 !important;
        color:#fff;
        border-color:#080355 !important
    }


 .img-responsive{

    width: 200px;
 }

 .About-me{

    margin-top: 12px;
 
}