
.progress {
    margin-top: 5px;
    height: 1.25rem;
    border: 2px solid #fff;
    background-color: #fff;
    box-shadow: 0 0 0 2px #000000;
}
.progress,
.progress-bar {
    border-radius: 30px;
 box-sizing: border-box;
}

.progress-bar {
    font-size: 12px;
    background-color: #2803cf;



}